:root {
    --color-desa-blue-dark: hsl(238, 29%, 16%);
    --color-soft-red: hsl(14, 88%, 65%);
    --color-soft-violet: hsl(273, 75%, 66%);
    --color-soft-blue: hsl(240, 73%, 65%);
    --color-very-dark-grayish: hsl(237, 12%, 33%);
    --color-dark-grayish-blue:  hsl(240, 6%, 50%);
    --color-light-grayish-blue:  hsl(240, 5%, 91%); 
    --color-light: #fff;
    --br: 1.75em;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 75%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(var(--color-soft-violet), var(--color-soft-blue));
}

h1,
h2,
h3,
p {
    margin: 0;
}

.container {
    position: relative;
}

.q-container {
    display: flex;
}

.box {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, 122.5%);
    max-width: 100%;
    width: 14em;
    height: 14em;
    filter: drop-shadow(0 1em 1em rgba(0, 0, 0, .25))
}

.card {
    position: relative;
    height: 40em;
    width: 75em;
    background-color: var(--color-light);
    border-radius: var(--br);
    box-shadow: 0em 2em 2em rgba(0, 0, 0, .25);
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;

    .left {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        transform: translateX(-10%);
        background-image: url('../images/bg-pattern-desktop.svg');
        background-size: 213%;
        background-repeat: no-repeat;
        background-position: 105% 67%;
        
        img {
            max-width: 100%;
            transform: translateX(-2em);
        }
    }


    .right {
        padding: 4.4em;
        h1 {
            font-size: 1.85rem;
            font-weight: 700;
            color: var(--color-desa-blue-dark);
        }

        ul {
            line-height: 4.4;
            list-style: none;
        }


        li {
            font-size: 0.85rem;
        }

        ul li {
            display: flex;
            justify-content: space-between;
        }

        .question {
            transition: all 200ms;

            &:hover {
                color: var(--color-soft-red);
            }

            .answer {
                line-height: normal;
                height: 0;
                opacity: 0;
                transition: height 100ms;
            }

            &__button {
                position: relative;
                cursor: pointer;
            }

            &__checkbox {
                display: none;
            }
        }
    }

    .question__checkbox:checked ~ .question__button .q-container {
        font-weight: bold;
    }


    .question__checkbox:checked ~ .question__button .q-container .question .answer {
        font-weight: normal;
        height: 2em;
        opacity: 1;
        

        p {
            color: var(--color-dark-grayish-blue);
            font-size: 0.75rem;
        }
    }



    .question__checkbox:checked ~ .question__button .q-container .icon {
        position: absolute;
        top: 0;
        right: 0;
        transform: rotate(180deg);
        transition: transform 200ms;

    }

}